[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NetworkInference"]
	path = NetworkInference
	url = https://github.com/desmarais-lab/networkinference
